body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: lightblue; /* голубой фон */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #3498db; /* насыщенный синий */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9; /* чуть темнее при наведении */
}

.popup {
    display: none; /* скрываем по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}
